<div class="header">
  <h3>Pantalla de Registro</h3>
</div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name))  do |f| %>

        <h2 class="lead">Usuario</h2>

        <div class="row">
          <div class="col-sm-6">
            <%= f.text_field :first_name, class: 'form-control', placeholder: "Nombre" %>
          </div>
          <div class="col-sm-6">
            <%= f.text_field :last_name, class: 'form-control', placeholder: "Apellido" %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <%= f.email_field :email, class: 'form-control', placeholder: "Correo" %>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <%= f.password_field :password, class: 'form-control', placeholder: "Contraseña"%>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirmar Contraseña" %>
          </div>
        </div>

        <hr>

    <div><%= f.submit "Registrase", class: "btn btn-primary" %></div>


    <div class="text-left">
      <%= render "devise/shared/links" %>
    </div>
    <% end %>


